<main id="pet" class="container">

    <h2 class="page-name">Pet details</h2>

    <div class="form">
    
        <div class="picture-container">

            <% if @pet.picture.attached? %>
                <%= image_tag @pet.picture, id:"picture-preview" %>
            <% else %>
                <%= image_tag "", id:"picture-preview", style:"display: none" %>
            <% end %>

        </div>

        <p>Pet name: <%= @pet.name %></p>

        <p>Pet Type: <%= @pet.pet_type %></p>

        <p>Owner: <%= @pet.user.first_name + " " + @pet.user.last_name %></p>

        <p>Total Bookings: <%= @pet.bookings.where(status:"completed").count %></p>
        
        <%= link_to "Edit", edit_pet_path(@pet.id), class: "link-button" %>

        <%= link_to "Delete", pet_path(@pet.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "link-button"%>


    </div>

</main>
