<main id="petsitter" class="container">

    <h2 class="page-name">Petsitter details</h2>

    <div class="form">
    
        <div class="picture-container">

            <% if @petsitter.user.picture.attached? %>
                <%= image_tag @petsitter.user.picture, id:"picture-preview" %>
            <% else %>
                <%= image_tag "", id:"picture-preview", style:"display: none" %>
            <% end %>

        </div>

        <p>First name: <%= @petsitter.user.first_name %></p>

        <p>Last name: <%= @petsitter.user.last_name %></p>

        <p>Daily Rate: <%= number_to_currency(@petsitter.price_rate/100.0) %></p>
        
        <p>Status: <%= @petsitter.status %></p>

        <p>Total Bookings: <%= @petsitter.bookings.where(status:"completed").count %></p>
        
        <%= link_to "Request a booking", new_booking_path(@petsitter.id), class: "link-button" %>

        <%= link_to "Edit", edit_petsitter_path(@petsitter.id), class: "link-button" %>

        <%= link_to "Delete", petsitter_path(@petsitter.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "link-button"%>

    </div>

    <% if @petsitter.user.pets.count > 0 %>

        <h2 class="page-name">Petsitter's Residential Pets</h2>
        <div class="pet-container">
            <% @petsitter.user.pets.each_with_index do |pet, index| %>

                <div class="picture-container">

                    <% if pet.picture.attached? %>
                        <%= image_tag pet.picture, id:"picture-preview" %>
                    <% else %>
                        <%= image_tag "", id:"picture-preview", style:"display: none" %>
                    <% end %>

                </div>

            <% end %>

        </div>

    <% end %>


</main>