<main id="booking" class="container">

    <h2 class="page-name">Booking details</h2>

    <table class="form">
        <thead>
            <tr>
                <th>Info</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="half-column">Booking ID</td>
                <td class="half-column"><%=@booking.id.to_s.rjust(5, '0')%></td>
            </tr>
            <tr>
                <td class="half-column">From Date</td>
                <td class="half-column"><%=@booking.from_date%></td>
            </tr>
            <tr>
                <td class="half-column">To Date</td>
                <td class="half-column"><%=@booking.to_date%></td>
            </tr>
            <tr>
                <td class="half-column">Request Status</td>
                <td class="half-column"><%=@booking.status%></td>
            </tr>
            <tr>
                <td class="half-column">Icon Status</td>
                <td class="half-column icon-column">
                    <% case @booking.status %>
                        <% when Booking.statuses.keys[0] %>
                            <%= image_tag "booking/pending.png", class:"booking-icon-status", alt:"Pending request" %>
                        <% when Booking.statuses.keys[1] %>
                            <%= image_tag "booking/accepted.png", class:"booking-icon-status", alt:"Request accepted" %>
                        <% when Booking.statuses.keys[2] %>
                            <%= image_tag "booking/rejected.png", class:"booking-icon-status", alt:"Request rejected" %>
                        <% when Booking.statuses.keys[3] %>
                            <%= image_tag "booking/completed.png", class:"booking-icon-status", alt:"Request completed" %>
                    <% end %>
                </td>
            </tr>
            <tr>
                <td class="half-column">Total Amount</td>
                <td class="half-column"><%=number_to_currency(@booking.total_amount/100.0)%></td>
            </tr>
            <tr>
                <td class="half-column">Pet Owner</td>
                <td class="half-column"><%=@booking.user.first_name%></td>
            </tr>
            <tr>
                <td class="half-column">Pet Sitter</td>
                <td class="half-column"><%=@booking.petsitter.user.first_name%></td>
            </tr>

        </tbody>
    </table>

    <% case @booking.status %>
        <% when Booking.statuses.keys[0] %>

            <% if current_user.petsitter && @booking.petsitter_id == current_user.petsitter.id %>
                <%= link_to "Accept", accept_booking_path(@booking.id), method: :patch, data: { confirm: 'Are you sure?' }, class: "link-button"%>
            <% end %>
            <%= link_to "Reject", reject_booking_path(@booking.id), method: :patch, data: { confirm: 'Are you sure?' }, class: "link-button"%>    

        <% when Booking.statuses.keys[1] %>
            
            <% if @booking.user_id == current_user.id %>
                <button id="pay-button" class="link-button">Pay</button>
            <% end %>
            <%= link_to "Reject", reject_booking_path(@booking.id), method: :patch, data: { confirm: 'Are you sure?' }, class: "link-button"%>    
    
    <% end %>

</main>

<script src="https://js.stripe.com/v3/"></script>

<script>

    document.getElementById("pay-button").addEventListener("click", () => {

        if (confirm('Are you sure?')) {
            const stripe = Stripe("<%= Rails.application.credentials.dig(:stripe, :public_key) %>");
            stripe.redirectToCheckout({
                sessionId: "<%= @session_id %>"
            })
        }

    })

</script>