<h1>Pet BnB</h1>

<main id="page-home" class="container">

    <h2 class="page-name">Home</h2>

    <div class="component">
        <%= link_to(pets_path) do %>
            <h2>Your Pets</h2>
            <p>We would love to know about your furry pets</p>
        <% end %>
    </div>

    <div class="component">
        <%= link_to(petsitters_path) do %>
            <h2>Look for Sitters</h2>
            <p>Browse our Sitters and their services</p>
        <% end %>
    </div>

    <div class="component">
        <%= link_to(new_petsitter_path) do %>
            <h2>Become a Sitter</h2>
            <p>Join our community of Sitters</p>
        <% end %>
    </div>

    <div class="component">
        <%= link_to(bookings_path) do %>
            <h2>Bookings</h2>
            <p>Check the status of your activities</p>
        <% end %>
    </div>

    <div class="component"> 
        <%= link_to(edit_user_password_path) do %>
            <h2>Your Details</h2>
            <p>Review or update your details</p>
        <% end %>
    </div>

</main>
