<footer>

    <p>&copy; Copyright Riccardo Carzaniga 2019. All Rights Reserved.</p>

    <ul id="socialMediaList">
        <li>
            <%= link_to "mailto:pet@bnb.com", target: "_blank" do %>
                <%= image_tag "footer/email.png", class: "socialMediaIcon", alt: "Email Icon" %>
            <% end %>
        </li>
        <li>
            <%= link_to "https://www.facebook.com/pets.officially", target: "_blank" do %>
                <%= image_tag "footer/facebook.png", class: "socialMediaIcon", alt: "Facebook Icon" %>
            <% end %>
        </li>
        <li>
            <%= link_to "https://www.instagram.com/explore/tags/pet/", target: "_blank" do %>
                <%= image_tag "footer/instagram.png", class: "socialMediaIcon", alt: "Instagram Icon" %>
            <% end %>
        </li>
    </ul>

</footer>