<header>
    <div class="nav-bar">

        <label for="toggle" class="tiny-shadow">&#9776;</label>        
        <input type="checkbox" id="toggle">

        <ul class="nav-bar__menu">
            <label for="toggle" class="tiny-shadow">&#9776;</label>
            <li><%= link_to "Home", root_path, class: "nav-bar__menu__link tiny-shadow" %></li>
            <% if user_signed_in? %>
                <li><%= link_to "Your Pets", pets_path, class: "nav-bar__menu__link tiny-shadow" %></li>
            <% end %>
            <li><%= link_to "Look for Sitters", petsitters_path, class: "nav-bar__menu__link tiny-shadow" %></li>
            <li><%= link_to "Become a Sitter", new_petsitter_path, class: "nav-bar__menu__link tiny-shadow" %></li>
            <% if user_signed_in? %>
                <li><%= link_to "Bookings", bookings_path, class: "nav-bar__menu__link tiny-shadow" %></li>
                <li><%= link_to "Your Details", edit_user_registration_path, class: "nav-bar__menu__link tiny-shadow" %></li>
            <% end %>
            <li>
                <% if user_signed_in? %>
                    <%= link_to "Logout", destroy_user_session_path, class: "nav-bar__menu__link tiny-shadow", method: :delete %>
                <% else %>
                    <%= link_to "Login", new_user_session_path, class: "nav-bar__menu__link tiny-shadow"%>
                <% end %>
            </li>
        </ul>
    </div>
</header>