<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PetBnb</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://js.stripe.com/v3/"></script>

  </head>

  <body>

    <%= render "/nav_bar" %>

    <div class="hero">
        <h1 class="tiny-shadow">Pet BnB</h1>
        <h2 class="tiny-shadow">Find trusted Pet Sitters to take care of your pets</h2>
    </div>

    <p class="floating-bubble hideMe notice"><%= notice %></p>
    <p class="floating-bubble hideMe alert"><%= alert %></p>

    <%= yield %>

    <%= render "/footer" %>

  </body>
</html>
